{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@assets": "./src/assets",
          "@pages": "./src/pages",
          "@utils": "./src/shared/utils",
          "@shared": "./src/shared",
          "@features": "./src/features"
        }
      }
    ],
    "inline-react-svg"
  ]
}
