// MATERIAL UI FONT
@import "~@fontsource/public-sans/index.css";
@import "~@fontsource/roboto/index.css";

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html, 
body {
    height: 100%;
    //background-color: #eef2f6; 
    //background-color: white; 
}

html {
    font-size: 62.5%; // 10px (16 px default size => 16px : 100 = 10px = X )
}

body{
    font-family: -apple-system, Roboto, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

// MAIN LAYOUT
#mainContainer{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 0;
}